body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #cdffc9, #fc67fc ,rgb(146, 253, 230),#b416e4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background: white;
    padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #7b2cbf;
 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #5a189a;
}
